.App {
  height: 100%;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  display: flex;

flex-direction: column;
}


/* HEADER */
/* ====================== */

header {
  text-transform: uppercase;
  text-align: center;
}

.logo {
  height: 2em;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cccccc;
}

#navigation li {
  display: flex;
justify-content: center;
align-items: center;
}

#navigation a {
  text-decoration: none;

  padding: 1em;
  
  background-color:
  #363c46;
  
  border-width: 1px 1px 1px 1px;
  
  border-color:
  #363c46;
  
  border-style: solid;
}

#navigation a.is-active {
background-color: #15171c;
border-style: solid;
border-color: #cccccc;
position: relative;
z-index: 1;
}

#navigation a.is-active::after {
  background-color:
  #15171c;
  
  height: 100%;
  
  width: 100%;
  
  position: absolute;
  
  top: 2px;
  
  z-index: -1;
  
  content: " ";
  
  left: 0;
}



main {
  background-color: #15171c;
  padding: 1em;
  padding-bottom: 3em;
}

main > .inner {
  max-width: 1000px;
  margin: 0 auto;
}

.cta {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.buttonCTA {
  text-decoration: none;

padding: 1em 2em;

margin: 1em;

background-color:
#61dafb;

color:
#15171c;

display: inline-block;

border-radius: 40px;

text-transform: uppercase;

font-weight: bold;
}




/* INTRO */
/* ============= */

#intro {
  text-align: center;
}

#intro .inner {
  position: absolute;
z-index: 2;
left: 50%;
transform: translate(-50%,0);
}

#intro .controls {
  
  display: flex;
  justify-content: center;

align-items: center;

margin-bottom: 0.2em;

flex-wrap: wrap;
opacity: 0.5;
padding-top: 1em;
}

#intro .controls .title {
  margin: 0.5em;
  text-transform: uppercase;
}

#intro .controls button {
  border: 1px solid #fff;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

#intro .controls button.selected {
  background-color:#15171c;
color:#fff;
}


#intro-list {
  margin: 0 auto;  
  font-size: 1.5em;  
  font-weight: bold;  
  text-transform: uppercase;  
  background-color: #525b6c;
  padding: 1em;  
  box-sizing: border-box;
  text-align: center;

  width: 550px;
  /*
  animation: animResize 2s infinite;
  animation-direction: alternate;
  backface-visibility: hidden;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);*/
}

#intro h3 {
  margin-top: 14em;
}


#about .content {
  max-width: 550px;
  margin: 0 auto;
}

#about .content h3 {
margin-top: 2em;
}




#tool > section {
  display: flex;

padding: 2em 0;

flex-wrap: wrap;
}

#tool section > div {
  flex: 1 1 80%;
  margin: 0 auto;
}

#tool .number {
  font-size: 4em;
text-align: center;
flex: 1 0 200px;
margin: 0;
}

#tool .instruction {
  padding: 2em 0;
}



#tool .list {
  padding: 1em;
}

#tool textarea {
  border-radius: 10px;
  border: 0px none;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 1em;
  font-family: sans-serif;
  max-width: 500px;
}


#appStyler {
  margin: 2em 0;
background-color:#21252d;
}

#appStyler > div {
  padding: 1em;
  box-sizing: border-box;
}

#appResult .title {
  background-color: #601b00;
    padding: 0.5em;
    display: inline-block;
    margin: 1em;
}

#appResult .inner > div {
  display: flex;
flex-direction: column;
align-items: center;
flex: 1 1 300px;
}






.centered-list  ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.centered-list ul li {

    /* This is a key property, as it will distribute items horizontally and maintain the ::after pseudo-element in the middle of the list. */
    display: inline;
    word-break: break-word;
}



.centered-list ul li::after {
    /* This is our magic trick. HTML browsers will strip a blank space from the ends of inline elements. */
    content: " ";

    /* This is just to add some breathing space. Note: Using 'padding' would cause problems if our list gets super-narrow. */
    letter-spacing: 1em;
    
   /* This is how we actually visually display a divider. Most times you would make use of the 'content' property, however we're already using it for our trick. Instead we use an inline base64-encoded image or SVG. Here I've included a circle shape. On a side note, FYI there's theoretical security risks when using inline SVG's and/or base64 attachments; Google it. */
   
/*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOJJREFUeNrsl8ENgzAMReNM0BEYgUxAR8gIWaUjdJNuAEwQRugG7Qbuj+RDW6kVESTOgSd9RUgQ2zEYm8xKmLnH4qEBOv+4bYJm6EZEi9kDGA5Q5HzSM2GL4Q4aeTtpjy7XuIcevB9pL59z5KUIayIvzcdJ0HvOsUToZMryhBy+kvt39CPXY6yZ97/vA4kD6eh7U5cFaXAkFS4aHZyV8qqFt1LbtRhSCljRAXM4cDig7oCVNkqLyUoPp8WsXorVf0ZWLq4K0V+aaEjaacm0mtK22vImBpMmRrOawylpj+cvAQYAmufq56g5I/AAAAAASUVORK5CYII=) center center no-repeat;*/

background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' class='svg-seperator' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 32 32' enable-background='new 0 0 32 32' xml:space='preserve'%3E%3Ccircle fill='red' cx='16' cy='16' r='16'/%3E%3C/svg%3E") center center no-repeat;
background-size: 5px;


}

.svg-seperator {
  fill: red;
}

.centered-list ul li span {
    /* This is so band names with multiple words don't wrap to a new line. */
    white-space: nowrap;
}


#intro-list2 {
  max-width: 500px;
  display: none;
}

.centered-list2 {
  position: relative;
  margin: 1em;
  overflow: hidden;
}
.centered-list2 ul {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;  
  margin-left: -1px;  
  padding: 0;  
  list-style: none;
}

.centered-list2 li {
  flex-grow: 1;
  flex-basis: auto;  
  margin: .25em 0;  
  padding: 0 1em;  
  text-align: center;  
  /* border-left: 1px solid #ccc; */
  position: relative;
  padding-right: 0.5em;
}

.centered-list2 ul li::before {
  content: "•";
  position: absolute;  
  left: -0.2em;
}



@keyframes animResize {
  0% {
    width: 550px;
  }
  50% {
    width: 350px;
  }
  100% {
    width: 250px;
  }
}



.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}


#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 1em;
}
